<footer>
  <article>
    <section>
      <h2>About C<span class="cfsg">o</span>exoteric</h2>
      <p>We build things.</p>
      <p>Find out more at <a href="http://exotericgrowth.com">exoteric</a>.</p>
      <p>
        <a href="{{ site.owner.facebook }}" class="social facebook">facebook</a>
        <a href="{{ site.owner.github }}" class="social github">GitHub</a>
      </p>
    </section>
    <section>
      <h2>About </h2>
      <p>This service is a test <a href="{{ site.url }}">Exoteric</a> hosts free and open source legal templates. Its goal is to improve access to legal information.</p>
      
    </section>
    <section>
      <h2>Minuti&aelig;</h2>
      <ul>
        <li><a href="">How to Contribute</a></li>
        <li><a href="">Copyright Attribution</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </section>
  </article>
</footer>
